@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}


table.gridtable {
    font-family: verdana, arial, sans-serif;
    /*font-size: 88%;*/
    /*color:#333333;*/
    color: black;
    border-width: 1px;
    /*border-color: #666666;*/
    border-color: #666666;
    border-collapse: collapse;
}

table.gridtable th {
    font-size: 95%;
    text-align: center;
    align-content: center;
    align-items: center;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    /*border-color: #666666;*/
    border-color: #666666;
    background-color: #dedede;
}

table.gridtable td {
    font-size: 95%;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    /*border-color: #666666;*/
    border-color: #666666;
    background-color: #ffffff;
}

</style >
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
