@page "/Q000"
@attribute [Authorize]

<h3> <a href="/"> <span class="oi oi-home" aria-hidden="true"></span></a> -   <span class="oi oi-list" aria-hidden="true"></span> Q000 Data Inquire 数据查询</h3>
<ul>
    <li>Q010 Article Basic Data Query 库存产品基本数据查询</li>
    <li>Q020 GTIN Basic Data Query 产品替代包装单位基本数据查询</li>
    <li>Q030 Storage Unit Type Basic Data Query 储存载具基本数据查询</li>
    <li>Q040 Transfer Requirement Data Query 移转需求数据查询</li>
    <li>Q050 Delivery Order Data Query 交货单数据查询</li>
    <li>Q060 Physical Inventory Count Data Query 盘点单数据查询</li>
    <li>Q070 AS/RS Transfer Command Data Query 自动仓搬运命令查询</li>
    <li>Q080 Inventory Data Query 库存数据查询</li>
    <li>Q090 Location Usage Status Query 库位使用状态查询</li>
    <li>Q100 Location Status Query 库位状态查询</li>
    <li><a href="Q110">Q110 Bin to Bin Transfer Query 转储记录数据查询</a></li>
    <li><a href="Q120">Q120 Posting Change Transfer Query库存属性移转查询</a></li>
</ul>
